@import "~bootstrap";
@import "functions/stripUnits";
@import "mixins/swiperSlideHeight";
@import "mixins/fluidType";
@import "components/index";

@import "themes/sample/basic";

@tailwind base;
@tailwind components;
@tailwind utilities;

.product-page__header {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 500;
}

@media only screen and (min-width: 1200px) {
  .product-page__header {
    font-size: 2.5rem;
  }
}
